In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
pd.options.plotting.backend = 'plotly'

# Ознакомимся с данными датасетами

In [2]:
airlines = pd.read_csv('C:\BigData\coursework\Airlines.csv')
airlines.head(14)

   IATA_CODE                       AIRLINE
0         UA         United Air Lines Inc.
1         AA        American Airlines Inc.
2         US               US Airways Inc.
3         F9        Frontier Airlines Inc.
4         B6               JetBlue Airways
5         OO         Skywest Airlines Inc.
6         AS          Alaska Airlines Inc.
7         NK              Spirit Air Lines
8         WN        Southwest Airlines Co.
9         DL          Delta Air Lines Inc.
10        EV   Atlantic Southeast Airlines
11        HA        Hawaiian Airlines Inc.
12        MQ  American Eagle Airlines Inc.
13        VX                Virgin America

airlines - расшифровка кодов компаний

In [3]:
airports = pd.read_csv('C:\BigData\coursework\Airports.csv')
airports

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
0,ABE,Lehigh Valley International Airport,Allentown,PA,USA,40.65236,-75.44040
1,ABI,Abilene Regional Airport,Abilene,TX,USA,32.41132,-99.68190
2,ABQ,Albuquerque International Sunport,Albuquerque,NM,USA,35.04022,-106.60919
3,ABR,Aberdeen Regional Airport,Aberdeen,SD,USA,45.44906,-98.42183
4,ABY,Southwest Georgia Regional Airport,Albany,GA,USA,31.53552,-84.19447
...,...,...,...,...,...,...,...
317,WRG,Wrangell Airport,Wrangell,AK,USA,56.48433,-132.36982
318,WYS,Westerly State Airport,West Yellowstone,MT,USA,44.68840,-111.11764
319,XNA,Northwest Arkansas Regional Airport,Fayetteville/Springdale/Rogers,AR,USA,36.28187,-94.30681
320,YAK,Yakutat Airport,Yakutat,AK,USA,59.50336,-139.66023
321,YUM,Yuma International Airport,Yuma,AZ,USA,32.65658,-114.60597

IATA_CODE - кодировка аэропорта  
AIRPORT - поное название аэропорта  
CITY - город расположения  
STATE - штат  
COUNTRY - страна (бесполезная колонка)  
LATITUDE - широта  
LONGTUDE - долгота

In [4]:
flights = pd.read_csv('C:\BigData\coursework\Flights.csv')
flights.head()

C:\Users\10060\AppData\Local\Temp\ipykernel_15328\3564812807.py:1: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  flights = pd.read_csv('C:\BigData\coursework\Flights.csv')

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
flights.info() #5819079

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5819079 entries, 0 to 5819078
Data columns (total 31 columns):
 #   Column               Dtype
---  ------               -----
 0   YEAR                 int64
 1   MONTH                int64
 2   DAY                  int64
 3   DAY_OF_WEEK          int64
 4   AIRLINE              object
 5   FLIGHT_NUMBER        int64
 6   TAIL_NUMBER          object
 7   ORIGIN_AIRPORT       object
 8   DESTINATION_AIRPORT  object
 9   SCHEDULED_DEPARTURE  int64
 10  DEPARTURE_TIME       float64
 11  DEPARTURE_DELAY      float64
 12  TAXI_OUT             float64
 13  WHEELS_OFF           float64
 14  SCHEDULED_TIME       float64
 15  ELAPSED_TIME         float64
 16  AIR_TIME             float64
 17  DISTANCE             int64
 18  WHEELS_ON            float64
 19  TAXI_IN              float64
 20  SCHEDULED_ARRIVAL    int64
 21  ARRIVAL_TIME         float64
 22  ARRIVAL_DELAY        float64
 23  DIVERTED             int64
 24  CANCELLED            int64
 25  CANCELLATION_REASON  object
 26  AIR_SYSTEM_DELAY     float64
 27  SECURITY_DELAY       float64
 28  AIRLINE_DELAY        float64
 29  LATE_AIRCRAFT_DELAY  float64
 30  WEATHER_DELAY        float64
dtypes: float64(16), int64(10), object(5)
memory usage: 1.3+ GB

flights.csv - данные о полетах авиакомпаний США за 2015 год  


YEAR - год рейса (int)  
MONTH - месяц рейса (int)  
DAY - день рейса (int)  
DAY_OF_WEEK - день недели рейса, 1-7 (int)  
AIRLINE - код авиакомпании (object)  
FLIGHT_NUMBER - номер рейса (int)  
TAIL_NUMBER - бортовой номер, номер самолета (object)  
ORIGIN_AIRPORT - аэропорт отправления (object)  
DESTINATION_AIRPORT - аэропорт прибытия (object)  
SCHEDULED_DEPARTURE - запланировнный вылет (int)  
DEPARTURE_TIME - время вылета (float)  
DEPARTURE_DELAY - задержка вылета (float)  
TAXI_OUT - время выруливания со стоянки (float)  
WHEELS_OFF - время налёта (float)  
SCHEDULED_TIME - запланированное время (float)  
ELAPSED_TIME - пройденное время (float)  
AIR_TIME - время в воздухе (float)  
DISTANCE - дальность (int)  
WHEELS_ON - время простоя (float)  
TAXI_IN - время заруливания на стоянку (float)  
SCHEDULED_ARRIVAL - запланированное прибытие (int)  
ARRIVAL_TIME - время прибытия (float)  
ARRIVAL_DELAY - задержка прибырия (float)  
DIVERTED - полет с отклонением от основного маршрута (int)  
CANCELLED - отмена рейса (int)  
CANCELLATION_REASON - причина отмены (object)  A - Airline/Carrier; B - Weather; C - National Air System; D - Security  
AIR_SYSTEM_DELAY - Задержка из-за воздушной системы (float)  
SECURITY_DELAY - Задержка из-за обезопасности (float)  
AIRLINE_DELAY - задержка из-за авиакомпании (float)  
LATE_AIRCRAFT_DELAY - Задержка из-за самолета (float)   
WEATHER_DELAY - задержка из-за погоды (float)

In [6]:
l_airports_id = pd.read_csv('C:\BigData\coursework\L_AIRPORT_ID.csv')
l_airports_id

       Code                                        Description
0     10001             Afognak Lake, AK: Afognak Lake Airport
1     10003      Granite Mountain, AK: Bear Creek Mining Strip
2     10004                           Lik, AK: Lik Mining Camp
3     10005             Little Squaw, AK: Little Squaw Airport
4     10006                         Kizhuyak, AK: Kizhuyak Bay
...     ...                                                ...
6409  16748                 Doylestown, PA: Doylestown Airport
6410  16749                   China Spring, TX: Wildcat Canyon
6411  16750  Sanford, NC: Raleigh Exec Jetport at Sanford L...
6412  16751                           Placida, FL: Coral Creek
6413  99999                            Unknown Point in Alaska

[6414 rows x 2 columns]

In [7]:
l_airport = pd.read_csv('C:\BigData\coursework\L_AIRPORT.csv')
l_airport

     Code                                    Description
0     01A         Afognak Lake, AK: Afognak Lake Airport
1     03A  Granite Mountain, AK: Bear Creek Mining Strip
2     04A                       Lik, AK: Lik Mining Camp
3     05A         Little Squaw, AK: Little Squaw Airport
4     06A                     Kizhuyak, AK: Kizhuyak Bay
...   ...                                            ...
6424  ZXZ             Waterville, WA: Waterville Airport
6425  ZYL                Sylhet, Bangladesh: Savannakhet
6426  ZZU                   Mzuzu, Malawi: Mzuzu Airport
6427  ZZV           Zanesville, OH: Zanesville Municipal
6428  ZZZ                        Unknown Point in Alaska

[6429 rows x 2 columns]

# Знакомство с датасетом

## Построение графика количества рейсов по месяцам

In [8]:
month_mean = pd.DataFrame(flights['MONTH'].value_counts())
month_mean = month_mean.reset_index()


month_mean

    index   MONTH
0       7  520718
1       8  510536
2       3  504312
3       6  503897
4       5  496993
5      10  486165
6       4  485151
7      12  479230
8       1  469968
9      11  467972
10      9  464946
11      2  429191

In [9]:
month_mean = month_mean.rename(columns = {'index':'month','MONTH':'count'})

In [10]:
month_mean = month_mean.sort_values(by = ['month'])
month_mean

    month   count
8       1  469968
11      2  429191
2       3  504312
6       4  485151
4       5  496993
3       6  503897
0       7  520718
1       8  510536
10      9  464946
5      10  486165
9      11  467972
7      12  479230

гистограмма количества перелетов в каждый из месяцев 2015 года

In [11]:
fig = px.histogram(month_mean, x = 'month', y = 'count', title = 'Количество перелетов по месяцам', nbins = len(month_mean))
fig.update_layout(bargap = 0.2, xaxis_title = 'Месяц', yaxis_title = 'Количество')
fig.show()

Как мы можем заметить, пик перелетов приходится на июль, а спад - на февраль

## Построение графика количества рейсов по дням недели

In [12]:
flights['DAY_OF_WEEK'].value_counts()

4    872521
1    865543
5    862209
3    855897
2    844600
7    817764
6    700545
Name: DAY_OF_WEEK, dtype: int64

In [13]:
week_flights = pd.DataFrame(flights['DAY_OF_WEEK'].value_counts())
week_flights = week_flights.reset_index()


week_flights

   index  DAY_OF_WEEK
0      4       872521
1      1       865543
2      5       862209
3      3       855897
4      2       844600
5      7       817764
6      6       700545

In [14]:
week_flights = week_flights.rename(columns = {'index':'day_of_week','DAY_OF_WEEK':'count'})
week_flights

   day_of_week   count
0            4  872521
1            1  865543
2            5  862209
3            3  855897
4            2  844600
5            7  817764
6            6  700545

In [15]:
week_flights = week_flights.sort_values(by = ['day_of_week'])
week_flights

   day_of_week   count
1            1  865543
4            2  844600
3            3  855897
0            4  872521
2            5  862209
6            6  700545
5            7  817764

In [16]:
fig = px.histogram(week_flights, x = 'day_of_week', y = 'count', title = 'Количество перелетов по дням недели', nbins = len(week_flights))
fig.update_layout(bargap = 0.2, xaxis_title = 'День недели', yaxis_title = 'Количество')
fig.show()

Суббота - наблюдается спад, наибольшее значение принимает четверг

## Топ 10 городов по количеству рейсов

In [17]:
airports_code = pd.DataFrame()
airports_code['ORIGIN_AIRPORT'] = flights['ORIGIN_AIRPORT'].value_counts()
airports_code = airports_code.reset_index().rename(columns = {'index':'ORIGIN_AIRPORT','ORIGIN_AIRPORT':'count_origin'}).head(10)
airports_code

  ORIGIN_AIRPORT  count_origin
0            ATL        346836
1            ORD        285884
2            DFW        239551
3            DEN        196055
4            LAX        194673
5            SFO        148008
6            PHX        146815
7            IAH        146622
8            LAS        133181
9            MSP        112117

In [18]:
destination = pd.DataFrame(flights['DESTINATION_AIRPORT'].value_counts()).head(10)

destination = destination.reset_index().rename(columns = {'index':'DESTINATION_AIRPORT','DESTINATION_AIRPORT':'count_destination'}).head(10)
destination

  DESTINATION_AIRPORT  count_destination
0                 ATL             346904
1                 ORD             285906
2                 DFW             239582
3                 DEN             196010
4                 LAX             194696
5                 SFO             147966
6                 PHX             146812
7                 IAH             146683
8                 LAS             133198
9                 MSP             112128

In [19]:
airports_code['count_destination'] = destination['count_destination']

In [20]:
airports_code['count'] = airports_code['count_destination'] + airports_code['count_origin']
airports_code

  ORIGIN_AIRPORT  count_origin  count_destination   count
0            ATL        346836             346904  693740
1            ORD        285884             285906  571790
2            DFW        239551             239582  479133
3            DEN        196055             196010  392065
4            LAX        194673             194696  389369
5            SFO        148008             147966  295974
6            PHX        146815             146812  293627
7            IAH        146622             146683  293305
8            LAS        133181             133198  266379
9            MSP        112117             112128  224245

In [21]:
fig = px.histogram(airports_code, x = 'ORIGIN_AIRPORT', y = 'count', title = 'Топ 10 городов по количеству рейсов', nbins = len(airports_code))
fig.update_layout(bargap = 0.2, xaxis_title = 'Код аэропорта', yaxis_title = 'Количество')
fig.show()

Расределение мест:  
1) ATL - Atlanta  
2) ORD - Chicago  
3) DFW - Dallas-Fort Worth	  
4) DEN - Denver	  
5) LAX - Los Angeles  
6) SFO - San Francisco  
7) PHX - Phoenix	  
8) IAH - Houston	
9) LAS - Las Vegas
10) MSP - Minneapolis

## Топ 10 авиакомпаний по количеству рейсов

In [22]:
flights['AIRLINE'].value_counts().head(10)

WN    1261855
DL     875881
AA     725984
OO     588353
EV     571977
UA     515723
MQ     294632
B6     267048
US     198715
AS     172521
Name: AIRLINE, dtype: int64

In [23]:
top_airlines = pd.DataFrame(flights['AIRLINE'].value_counts().head(10))
top_airlines = top_airlines.reset_index().rename(columns = {'index':'airline_code','AIRLINE':'count'})


top_airlines

  airline_code    count
0           WN  1261855
1           DL   875881
2           AA   725984
3           OO   588353
4           EV   571977
5           UA   515723
6           MQ   294632
7           B6   267048
8           US   198715
9           AS   172521

In [24]:
fig = px.histogram(top_airlines, x = 'airline_code', y = 'count', title = 'Топ 10 авиакомпаний по количеству перелетов', nbins = len(top_airlines))
fig.update_layout(bargap = 0.2, xaxis_title = 'Код компании', yaxis_title = 'Количество перелетов')
fig.show()

Распределение мест:  

1)Southwest Airlines Co.  
2)Delta Air Lines Inc.  
3)American Airlines Inc.  
4)Skywest Airlines Inc.  
5)Atlantic Southeast Airlines    
6)United Air Lines Inc.  
7)American Eagle Airlines Inc.    
8)JetBlue Airways  
9)US Airways Inc.  
10)Alaska Airlines Inc.

In [25]:
#for i in range(len(top_airlines.index)):
    #for j in range(len(airlines.index)):
        #if top_airlines.loc[[i],['airline_code']] == airlines.loc[[j],['IATA_CODE']]:
            #top_airlines.loc[[i],['airline_code']] = airlines.loc[j],['AIRLINE']

# Исследование данных

## Найти аэропорт с минимальной задержкой вылета

In [26]:
flights['DEPARTURE_DELAY'].value_counts

<bound method IndexOpsMixin.value_counts of 0         -11.0
1          -8.0
2          -2.0
3          -5.0
4          -1.0
           ...
5819074    -4.0
5819075    -4.0
5819076    -9.0
5819077    -6.0
5819078    15.0
Name: DEPARTURE_DELAY, Length: 5819079, dtype: float64>

Как мы видим, есть отрицательные значения  
Предполагаю, что это вылет раньше времени, поэтому, что бы найти минимальную задержку, нужно искать либо самое отрицательное значение, либо первое после нуля

In [27]:
#В первом случае
min(flights['DEPARTURE_DELAY'])

-82.0

In [28]:
flights[flights['DEPARTURE_DELAY'] == min(flights['DEPARTURE_DELAY'])]['ORIGIN_AIRPORT']

5645762    ADK
Name: ORIGIN_AIRPORT, dtype: object

In [29]:
airports[airports['IATA_CODE'] == 'ADK']

  IATA_CODE       AIRPORT  CITY STATE COUNTRY  LATITUDE  LONGITUDE
9       ADK  Adak Airport  Adak    AK     USA  51.87796 -176.64603

In [30]:
#Во втором случае
min(flights[flights['DEPARTURE_DELAY'] >= 0]['DEPARTURE_DELAY'])

0.0

In [31]:
flights[flights['DEPARTURE_DELAY'] == min(flights[flights['DEPARTURE_DELAY'] >= 0]['DEPARTURE_DELAY'])]['ORIGIN_AIRPORT'].count()

329360

Слишком много переменных, так что оставляем первое предположение

## Выявить самую пунктуальную авиакомпанию на прилет

In [32]:
id = 211-17

In [33]:
airports.loc[id]

IATA_CODE                                 MDT
AIRPORT      Harrisburg International Airport
CITY                               Harrisburg
STATE                                      PA
COUNTRY                                   USA
LATITUDE                              40.1935
LONGITUDE                            -76.7634
Name: 194, dtype: object

In [34]:
flights[flights['DESTINATION_AIRPORT'] == 'MDT']

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
1119,2015,1,1,4,F9,1046,N925FR,MCO,MDT,715,...,920.0,-12.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2531,2015,1,1,4,EV,5023,N846AS,DTW,MDT,903,...,1007.0,-29.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
6961,2015,1,1,4,MQ,3118,N512MQ,ORD,MDT,1350,...,1738.0,70.0,0,0,NaN,0.0,0.0,70.0,0.0,0.0
8363,2015,1,1,4,EV,5397,N760EV,ATL,MDT,1521,...,1706.0,-6.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
13069,2015,1,1,4,DL,1121,N987AT,ATL,MDT,2054,...,2232.0,-7.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5808632,2015,12,31,4,MQ,3498,N659MQ,ORD,MDT,820,...,1047.0,-17.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5809860,2015,12,31,4,EV,5535,N614QX,ATL,MDT,941,...,1127.0,-5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5814652,2015,12,31,4,MQ,3380,N654MQ,ORD,MDT,1500,...,1726.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5817349,2015,12,31,4,MQ,3601,N647MQ,ORD,MDT,1830,...,2112.0,-6.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5818469,2015,12,31,4,DL,2473,N959AT,ATL,MDT,2042,...,2212.0,-19.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
flights[flights['DESTINATION_AIRPORT'] == 'MDT'][flights['ARRIVAL_DELAY'] == min(flights[flights['DESTINATION_AIRPORT'] == 'MDT']['ARRIVAL_DELAY'])]

C:\Users\10060\AppData\Local\Temp\ipykernel_15328\2204592517.py:1: UserWarning:

Boolean Series key will be reindexed to match DataFrame index.

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
5503452,2015,12,11,5,UA,472,N843UA,ORD,MDT,1345,...,1556.0,-36.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
airlines[airlines['IATA_CODE'] == 'UA']

  IATA_CODE                AIRLINE
0        UA  United Air Lines Inc.

## Найти аэропорт, где самолеты проводят в среднем больше всего времени на рулении

In [248]:
destination_airport = pd.DataFrame()
destination_airport['airport_code'] = flights['DESTINATION_AIRPORT']
destination_airport['taxi_in'] = flights['TAXI_IN']


origin_airport = pd.DataFrame()
origin_airport['airport_code'] = flights['ORIGIN_AIRPORT']
origin_airport['taxi_out'] = flights['TAXI_OUT']

In [249]:
count_origin = pd.DataFrame()
count_destination = pd.DataFrame()
count = pd.DataFrame()
airports_taxi = pd.DataFrame()

In [250]:
count_origin['count'] = pd.Series(origin_airport['airport_code'].value_counts())
count_origin = count_origin.reset_index().rename(columns = {'index':'airport_code'})
count_origin

    airport_code   count
0            ATL  346836
1            ORD  285884
2            DFW  239551
3            DEN  196055
4            LAX  194673
..           ...     ...
925        11503       1
926        14222       1
927        13964       1
928        13459       1
929        12265       1

[930 rows x 2 columns]

In [251]:
count_destination['count'] = pd.Series(destination_airport['airport_code'].value_counts())
count_destination = count_destination.reset_index().rename(columns = {'index':'airport_code'})
count_destination

    airport_code   count
0            ATL  346904
1            ORD  285906
2            DFW  239582
3            DEN  196010
4            LAX  194696
..           ...     ...
925        13964       1
926        14025       1
927        15497       1
928        12265       1
929        10666       1

[930 rows x 2 columns]

In [252]:
count = count_destination.merge(count_origin, on = ['airport_code'], how = 'inner')

In [253]:
count['count'] = count['count_x'] + count['count_y']
count = count.drop(columns = ['count_x', 'count_y'])
count

    airport_code   count
0            ATL  693740
1            ORD  571790
2            DFW  479133
3            DEN  392065
4            LAX  389369
..           ...     ...
924        13459       2
925        13964       2
926        14025       2
927        15497       2
928        12265       2

[929 rows x 2 columns]

In [254]:
destination_airport = destination_airport.groupby(['airport_code']).sum()
origin_airport =  origin_airport.groupby(['airport_code']).sum()

airports_taxi = destination_airport.merge(origin_airport, on = ['airport_code'], how = 'inner')
airports_taxi = airports_taxi.merge(count, on = ['airport_code'], how = 'inner')
airports_taxi

    airport_code  taxi_in  taxi_out  count
0          10135    848.0    2816.0    453
1          10136    819.0    1669.0    379
2          10140   9671.0   19813.0   3422
3          10141    306.0    1008.0    134
4          10146    290.0    1147.0    164
..           ...      ...       ...    ...
924          WRG   2398.0    5107.0   1328
925          WYS    972.0    2476.0    416
926          XNA  45564.0  131970.0  18567
927          YAK   2608.0    5203.0   1324
928          YUM   8357.0   26602.0   3755

[929 rows x 4 columns]

In [255]:
airports_taxi['taxi'] = airports_taxi['taxi_in'] + airports_taxi['taxi_out']
airports_taxi = airports_taxi.drop(columns = ['taxi_in','taxi_out'])
airports_taxi

    airport_code  count      taxi
0          10135    453    3664.0
1          10136    379    2488.0
2          10140   3422   29484.0
3          10141    134    1314.0
4          10146    164    1437.0
..           ...    ...       ...
924          WRG   1328    7505.0
925          WYS    416    3448.0
926          XNA  18567  177534.0
927          YAK   1324    7811.0
928          YUM   3755   34959.0

[929 rows x 3 columns]

In [256]:
airports_taxi['mean'] = airports_taxi['taxi'] / airports_taxi['count']
airports_taxi

    airport_code  count      taxi      mean
0          10135    453    3664.0  8.088300
1          10136    379    2488.0  6.564644
2          10140   3422   29484.0  8.616014
3          10141    134    1314.0  9.805970
4          10146    164    1437.0  8.762195
..           ...    ...       ...       ...
924          WRG   1328    7505.0  5.651355
925          WYS    416    3448.0  8.288462
926          XNA  18567  177534.0  9.561803
927          YAK   1324    7811.0  5.899547
928          YUM   3755   34959.0  9.309987

[929 rows x 4 columns]

In [266]:
airports_taxi['mean'].max()

22.10352422907489

In [265]:
airports_taxi[airports_taxi['mean'] == airports_taxi['mean'].max()]['airport_code']

473    12953
Name: airport_code, dtype: object

In [273]:
l_airports_id[l_airports_id['Code'] == 12953]

       Code              Description
2824  12953  New York, NY: LaGuardia

Ответ: Нью Йорк, аэропорт LaGuardia